/* Let's import the lovely google font, please keep this line at the top of your stylesheet */

@import url(http://fonts.googleapis.com/css?family=Capriola);



/* Menu CSS */ 

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a{
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Capriola', sans-serif;

}
#cssmenu:before, #cssmenu:after, #cssmenu > ul:before, #cssmenu > ul:after {

    content: '';
    display: table;

}


#cssmenu:after, #cssmenu > ul:after {

    clear: both;

}

#cssmenu {

    zoom:1;
    height: 69px;
    border-radius: 2px;

}

#cssmenu ul{

    background: url(../img/nav-bg.png) repeat-x 0px 4px;
    height: 69px;

}

#cssmenu ul li{        
    width:106px;
    float: left;
    list-style: none;

}

#cssmenu ul li a{

    display: block;
    height: 37px;
    padding: 22px 10px 0;
    margin: 4px 2px 0;
    border-radius: 2px 2px 0 0;
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
    font-weight: 400;
    opacity: .9;

}

#cssmenu ul li:first-child a{

    margin: 4px 2px 0 0;

}

#cssmenu ul li.active a{

    background: url(../img/color.png) center bottom;
    display: block;
    height: 37px;
    margin-top: 0px;
    padding-top: 26px;
    color: #9b4106;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .35);
    opacity: 1;

}

.profilotable{
    width: 100%;

}
.profilotable table{
    margin-top: 30px;
    margin-left: 250px;
}
.profilotable table tr{
    height: 20px;
}
.profilotable table tr td{
    font-size: medium;
    width: 300px;
    text-align: left;
}
.tab-sub{
    float: right;
}
.delete{
    width:500px;
}
#delete{
    text-align: center;
}
#del-sub{
    -moz-border-radius: 25px;
    -moz-box-shadow: #6E7849 0px 0px 10px;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: #6E7849 0 0 10px;
    -webkit-transition: all 0.5s ease;
    background-color: #fa5400;
    border-radius: 15px;
    border: 2px solid #4a5032;
    box-shadow: #6E7849 0px 0px 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 2em;
    margin-left: 370px;
    padding: 15px;
    text-decoration: none;
    text-shadow: #000000 5px 5px 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.ordini-table{
    width: 100%;
    border: 2px solid grey;
}
.ordini-table th, .ordini-table td{
    border: 2px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}
.nordine{
    width: 70px;
}
.completed{
    width: 70px;
}
input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}
input[type=checkbox].css-checkbox:disabled + label.css-label {
    background-position: 0 -30px;
}

.css-label{ 
    background-image:url(../img/dark-check-orange.png); 
}

.checkout_left{
    width: 49%;
    display: inline-block;
    float:left;
    margin-left: 100px;
}
.checkout_rigth{
    width: 49%;
    display: inline-block;
    float:right;
}
.checkout_bottom{
    height: 200px;
}
#acquisto{
    margin-left: 35%;
}
.checkout-sped{
    margin-left: 20%;
    width: 520px;
    border: 2px solid grey;
    border-radius: 10px 10px 10px 10px;
}
.checkout-sped th b{
    float: left;
    padding-left: 20px;
}
.checkout-sped h1{
    text-align: center;
    margin-top: 20px;   
}
.fasce{
    width: 150px;
}
#prezzo{
    font-size: medium;
}
#filmid{
    font-size: x-large;
    border:none;
    font-weight: bold;
    color: #5a5a5a;
    
}

.parsley-success, .parsley-success {
        color: #468847 !important;
        background-color: #DFF0D8 !important;
        border: 1px solid #D6E9C6 !important;
      }
      .parsley-error, .parsley-error {
        color: #B94A48 !important;
        background-color: #F2DEDE !important;
        border: 1px solid #EED3D7 !important;
      }
	  ul.parsley-error-list {
          font-size: 11px;
          margin: 2px;
          list-style-type:none;
      }
      ul.parsley-error-list li {
          line-height: 11px;
      }
