<div class="shell">
    <br>
    <form id="search-form" class="search" onsubmit="check_search()" method='POST' name="search" data-validate="parsley">
        <b>Ricerca</b>
        <[search_place::search library="form"]>
    </form>
    <br>
</div>