<!-- Begin Main -->
<div id="main" class="shell">

    <div >&nbsp;</div>
    <form name="checkout" onsubmit="check()" method='POST' id='checkout' class="register" data-validate="parsley">
        <div class="checkout-sped">
            <h1>Informazioni Spedizione</h1>
            </br>
            <table class="register-table">
                <tr>
                    <th><b>Nome</b></th>
                    <th><input type='text' name='nome' data-required="true" class="parsley-validated"></br></th>
                </tr>
                <tr>
                    <th><b>Cognome</b></th>
                    <th><input type='text' name='cognome' data-required="true" class="parsley-validated"></br></th>
                </tr>
                <tr>
                    <th><b>Via</b></th>
                    <th><input type="text" name="via" data-required="true" class="parsley-validated" /></br> </th>
                </tr>
                <tr>
                    <th><b>Città</b></th>
                    <th><input type='text' name='citta' data-required="true" class="parsley-validated"></br></th>  
                </tr>
                <tr>
                    <th><b>CAP</b></th>
                    <th><input type='text' name='cap' data-type='digits' data-required="true" class="parsley-validated"><br></th> 
                </tr>
                <tr>
                    <th><b>Provincia</b></th>
                    <th><div class="dropdown-reg"><select data-required="true" class="register-select parsley-validated" name='provincia'><[provincia_place::insertprov library="registrazione"]></select></div><br></th>
                </tr>
                <tr>
                    <th><b>Nazione</b></th>
                    <th><div class="dropdown-reg"><select data-required="true" class="register-select parsley-validated" name='nazione'><[stato_place::insertstato library="registrazione"]></select></div><br></th>
                </tr>
                <tr>
                    <th><b>Recapito telefonico</b></th>
                    <th><input type='text' name='telefono' data-type='digits' data-required="true" class="parsley-validated"><br></th> 
                </tr>
            </table>
        </div>
        </br>
        <div class="checkout_bottom">
        <div class="checkout_left">
            <h1>Metodo di pagamento</h1></br>
            <fieldset>
                <input type="radio" name="pagamento" value="carta"  data-required="true" class="parsley-validated"/><strong>  Carta di credito</strong></br></br>
                <input type="radio" name="pagamento" value="bonifico"/><strong>  Bonifico bancario</strong></br></br>
                <input type="radio" name="pagamento" value="contrassegno"/><strong>  Contrassegno</strong></br></br>
                <input type="radio" name="pagamento" value="paypal"/><strong>  Paypal</strong>
            </fieldset>
            </br>            
        </div>
        <div class="checkout_right">
            <h1>Metodo di spedizione</h1></br>
            <fieldset>
                <input type="radio" name="spedizione" value="ordinaria"  data-required="true" class="parsley-validated"/><strong>  Posta ordinaria (5-6 gg)</strong></br></br>
                <input type="radio" name="spedizione" value="prioritaria"/><strong>  Posta prioritaria (2-3 gg)</strong></br></br>
                <input type="radio" name="spedizione" value="corriere"/><strong>  Corriere espresso (24 ore)</strong>
            </fieldset>
            </br>            
        </div>
            
</div>
        <span id="acquisto"><input id="submit" type='submit' value='Completa acquisto'></span>
    </form>
        <div class="cl">&nbsp;</div>

</div>
<!-- End Main -->
