<!-- Begin Main -->
<div id="main" class="shell">
    <div>&nbsp;</div>
    <!-- Begin Products -->
    <div id="products">
        <[titolo_place::inserttitolo library="titolo"]>
        <span id="prezzo"><strong>Prezzo:</strong></span>
        <[fasce_place::insertfasce library="fasce"]>        
<br/><br/>
        <[catalogo_place::insertcatalogo library="catalogo"]>

    </div>
    
    <div class="cl">&nbsp;</div>

</div>
<!-- End Products -->
<!-- End Main -->