<div class="shell">
    <table class="main">
        <tbody>
            <tr id="prezzo">
                <td class="pager">Pagina:</td>
                <td class="pagebr">&nbsp;</td>
                <[page_place::page library="catalogo"]>           
                
            </tr>
        </tbody>
    </table>
</div>
</br>