<!-- Begin Main -->
<div id="main" class="shell2">
    <div>&nbsp;</div>
    <!-- Begin Products -->

    <div id='cssmenu'>
        <ul>
            <[tabprofilo_place::inserttab library="profilo"]>
        </ul>
    </div>
    <div id="main" class="shell">
        <div id="profilo">
            <[tab_place::insertcontenttab library="profilo"]>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
</div>
<!-- End Products -->
<!-- End Main 
        <[catalogo_place::insertcatalogo library="catalogo"]>-->