<div class="shell">
    </br>    
    <form name="register" action="include/registerutente.php?id=utente" id='register' method='POST' class="register" data-validate="parsley">
        <div class="ana-box">
            <h1>Anagrafica</h1>
            </br>
            <table class="register-table">
                <tr>
                    <th><b>Nome</b></th>
                    <th><input type='text' name='nome' data-required="true" class="parsley-validated"></br></th>
                    <th><b>Città</b></th>
                    <th><input type='text' name='città' data-required="true" class="parsley-validated"><br></th>

                </tr>
                <tr>
                    <th><b>Cognome</b></th>
                    <th><input type='text' name='cognome' data-required="true" class="parsley-validated"></br></th>
                    <th><b>Via</b></th>
                    <th><input type='text' name='via' data-required="true" class="parsley-validated"></th>

                </tr>
                <tr>
                    <th><b>Data Di Nascita</b></th>
                    <th><input type="text" name="date" data-required="true" class="parsley-validated" value="" onclick="Calendar.show(this, '%d/%m/%Y', false)" onfocus="Calendar.show(this, '%d/%m/%Y', true)" onblur="Calendar.hide()" /></br> </th>
                    <th><b>Provincia</b></th>
                    <th><div class="dropdown-reg"><select data-required="true" class="register-select parsley-validated" name='provincia'><[provincia_place::insertprov library="registrazione"]></select></div><br></th>   
                </tr>
                <tr>
                    <th><b>Codice Fiscale</b></th>
                    <th><input type='text' name='CF' data-required="true" class="parsley-validated"></br></th>
                    <th><b>CAP</b></th>
                    <th><input type='text' name='cap' data-required="true" data-type='digits' class="parsley-validated"><br></th>   
                </tr>
                <tr>
                    <th><b>Telefono</b></th>
                    <th><input type='text' name='telefono' data-required="true" data-type='digits' class="parsley-validated"><br></th> 
                    <th><b>Stato</b></th>
                    <th><div class="dropdown-reg"><select data-required="true" class="register-select parsley-validated" name='paese'><[stato_place::insertstato library="registrazione"]></select></div><br></th>                      
                </tr>
            </table>
        </div>    
        <div class="reg-bottom">            
            <table class="register-table register-table2">
                <tr>
                    <th><b>Email</b></th>
                    <th><input type='email' name='email' data-required="true" class="parsley-validated"></br></th>                    
                </tr>
                <tr>
                    <th><b>Password</b></th>
                    <th><input type='password' name='pass1' data-required="true" id='pass1' class="reg-pass parsley-validated"></br></th>                       
                </tr>                
                <tr>
                    <th><b>Ripeti Password</b></th>
                    <th><input type='password' name='pass2' data-required="true" data-equalto='#pass1' class="reg-pass parsley-validated"><br></br></th>                     
                </tr>
                <tr>
                    <th></th>
                    <th><input id="submit" type='submit' value='Registrati'><br></th>                    
                </tr>
            </table>
        </div>
    </form>
</div>
<br><br><br><br><br><br>